* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

header {
    background-color: white;
    padding: 1rem 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.logo {
    padding: 1rem;
    flex-wrap: wrap;
}

.menu {
    flex-wrap: wrap;
}

.menu-item {
    padding: 1rem;
    flex-wrap: wrap;
}