<!DOCTYPE html>
<html lang='en'>
   <head>
      <meta charset='UTF-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <!-- myStyle -->
      <!-- <link rel='stylesheet' href='./assets/css/style.css'> -->
      <title>VUE</title>
   </head>
   <body>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

      <div id="app">

         // add is_active to header
         <header id="site_header" :class="active">
            <h1>VUE JS</h1>
         </header>

         <main>

            <!-- show message  -->
            {{ message }}

            <!-- get inputs and show on a paragraph -->
            Name
            <label>
               <input type="text" v-model="firstName">
            </label>

            Lastname
            <label>
               <input type="text" v-model="lastName">
            </label>

            <!-- p with inputs --> 
            <p>Ciao, {{firstName}} {{lastName}}</p>
            
            <!-- buttons on click generate a c.log with some text -->
            <button @click="sayHi">Hi</button>
            <button @click="greetings">Hello</button><br><br>
            <h4>Counter</h4>
            <button @click="counter++">Add 1</button>
            <p>The button has been clicked for {{counter}} times</p>
            <button @click="resetCounter">Reset Counter</button>
         </main>

      </div>

      <!-- myScript -->
      <script src='main.js'></script>
   </body>
</html>